asgiref==3.7.2
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.2
django-filter==23.5
djangorestframework==3.14.0
gunicorn==21.2.0
h11==0.14.0
idna==3.6
Markdown==3.5.2
packaging==23.2
psycopg==3.1.18
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.1
uvicorn==0.28.0
whitenoise==6.6.0
